<!DOCTYPE html>
<html lang="en">

<head>
    <title>Greenways Route App</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">


</head>

<body>

<div class="container">
    <div class="header">
        <h2 class="text-muted" style="color:green">Greenways Route App</h2>
    </div>

    <div class="jumbotron">
        <h1>Your Trip is complete</h1>

    </div>

    <div class="jumbotron">
        <h1>Menu</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="/userHome" role="button">Home</a>
            <a class="btn btn-lg btn-success" href="/logout" role="button">Logout</a>
        </p>

    </div>



</div>
</body>

</html>
