<!DOCTYPE html>
<html lang="en">

<head>
    <title>Greenways Route App</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">


</head>

<body>

<div class="container">
    <div class="header">
        <nav>
            <ul class="lead">
                <li role="presentation" class="active"><a href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Greenways Route App</h3>
    </div>

    <div class="jumbotron">
        <h1>Area Map</h1>
        <img src="../static/img/ProjectMap.jpg" alt="Map" align="middle"width="500" height="500"></img>
    </div>

</div>


</body>

</html>